<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241632608815-6qahdvahr1efa7jbrf6fftpp9au2sjje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241632608815-6qahdvahr1efa7jbrf6fftpp9au2sjje</string>
	<key>API_KEY</key>
	<string>AIzaSyBNuWIoroBM6kBAjulMdbx8s4bjcxkKpHk</string>
	<key>GCM_SENDER_ID</key>
	<string>241632608815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flytbaseDemo</string>
	<key>PROJECT_ID</key>
	<string>calculatordemo-95dc3</string>
	<key>STORAGE_BUCKET</key>
	<string>calculatordemo-95dc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241632608815:ios:b2f40fd5f6ed9648733cda</string>
	<key>DATABASE_URL</key>
	<string>https://calculatordemo-95dc3.firebaseio.com</string>
</dict>
</plist>